{% extends 'schedule_app/base.html' %}
{% block content %}
    <h1>Weekly teachers' availability heatmap</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Lessons time</th>
                {% for weekday in weekdays %}
                    <th>{{ weekday }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for time_slot in time_slots %}
                <tr>
                    <td>{{ time_slot }}</td>
                        {% for weekday in weekdays %}
                            {% for teach_avail in teachers_availability %}
                                {% if teach_avail.weekday == weekday and teach_avail.time_slot == time_slot %}
                                    {% if teach_avail.teachers == 0 %}
                                        <td style="background-color:#d73027">{{ teach_avail.teachers }}</td>
                                    {% elif teach_avail.teachers <= 15 %}
                                        <td style="background-color:#fc8d59">{{ teach_avail.teachers }}</td>
                                    {% elif teach_avail.teachers <= 30 %}
                                        <td style="background-color:#fee08b">{{ teach_avail.teachers }}</td>
                                    {% elif teach_avail.teachers <= 60 %}
                                        <td style="background-color:#91cf60">{{ teach_avail.teachers }}</td>
                                    {% else %}
                                        <td style="background-color:#1a9850">{{ teach_avail.teachers }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}