# Ignoruj pliki IDE
../../../.idea/

# Ignoruj bazę danych SQLite w podkatalogu .project
db.sqlite3

# Ignoruj dane wrażliwe
.env

# Ignoruj cache Pythona w całym projekcie
**/__pycache__/

# Ignoruj wszystkie pliki migracji (opcja: zostaw __init__.py jeśli potrzebne)
schedule_app/migrations/*.py
!.schedule_app/migrations/__init__.py
